@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bootstrap';

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Dossier menu pour menu.index */
/* menu.index */
.menu{
    display: flex;
    background: rgb(146, 146, 146);
    padding: 3em 0;
    justify-content: space-around;
}
.menu a{
    text-decoration: none;
    color: #000;
}
.menu a:hover{
    color: rgb(21, 245, 226);
}

/* Dossier products et categories */
/* mise en forme de products/index.blade */
.content, .categories{
    display: flex;
    flex-flow: wrap;
}
/* products */
.products{
    text-decoration: none;
    color: #000;
}
.products:hover{
    color: #000;
}
/* categories */
.pro, .sex{
    margin: 1rem;
    padding: 1rem;
}
.sex:hover{
    box-shadow: 2px 2px 10px 0px #000;
}
.pro:hover{
    box-shadow: 2px 2px 10px 0px #000;
}

/* Dossier menu pour admin_menu */
/* mise en form de page menu_admin */
.menu_admin{
    display: flex;
    background: rgb(146, 146, 146);
    padding: 3em 0;
    justify-content: space-around;
}
.menu_admin a{
    text-decoration: none;
    color: #000;
}
.menu_admin a:hover{    
    color: rgb(21, 245, 226);
}

/* Fichier dashboard */
.dashboard{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
    justify-content: space-around;
}
.dashboard a{
    text-decoration: none;
    color: #000;
}
.dashboard a:hover{
    color: rgb(21, 245, 226);
}

/* Dossier admin */
/* Mise en forme du fichier index */
/* mise en forme créer un nouveau produit */
.admin_index{
    margin: 2rem 0;
}
.admin_index a{
    text-decoration: none;
    color: #000;
}
.admin_index a:hover{
    text-decoration: underline;
}
/* mise en forme nom et operation du tableau */
.name_operations{
    display: flex;
    grid-gap: 13rem;
    margin-left: 2rem;
}
/* mise en forme des nom modifier et supprimer  */
.admin_modifier{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    justify-content: space-around;
}
.admin_modifier a{
    text-decoration: none;
    color: #000;
}
.admin_modifier a:hover{
    text-decoration: underline;
}
input.admin_supprimer{
    color: rgb(228, 27, 27);
    margin-left: -4rem;
}
/* Mise en forme du fichier create, edit et show */
.create_h1, .edit_h1{
    margin-top: 1rem;
}
form.form_create, form.form_edit{
    display: grid;
    grid-gap: 1rem;
}
.admin_show{
    display: block;
}
/* Dossier footer partie client */
.footer{
    display: flex;
    background: rgb(146, 146, 146);
    padding: 2em 0;
    justify-content: space-around;
}
.box li:hover{
    color: rgb(21, 245, 226);
}